body {
  background-image: url("../img/IndexBackgroung.png");
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_nav {
  align-items: center;
  font-family: "Montserrat";
  display: flex;
}

nav ul {
  font-size: 16px;
  list-style-type: none;
  display: flex;
  gap: 44px;
}

nav a {
  color: #2d2d2d;
  text-decoration: none;
}
